{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({% static 'assets/img/post-bg.jpg' %})">
<div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
                <h1>Create Post</h1>
                <span class="subheading">Want to post your Blog? You are in right place</span>
            </div>
        </div>
    </div>
</div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input class="form-control" for="user_name" name="user_name" type="name" required placeholder="Enter your Name..."  
                        value ="{{user_name}}" />
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" for="title" name="title" type="text" required placeholder="Enter your Title..." 
                        value ="{{title}}"/>
                        <label for="title">Title</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" for="sub_heading" name="sub_heading" type="text" required placeholder="Enter your Sub Heading..." 
                        value ="{{sub_heading}}"/>
                        <label for="sub_heading">Sub-Heading</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" for="content" name="content" required placeholder="Enter your message here..." style="height: 20rem" >{{content}}</textarea>
                        <label for="content">Content</label>
                    </div>
                    <br />
                    <!-- Submit Button-->
                    <button class="btn btn-primary text-uppercase" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}